.portfolio_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(245, 245, 245);
}

.banner_mountains {
    background: linear-gradient( rgba(0, 0, 0, 0.514), rgba(0, 0, 0, 0.418) ), url(/img/mountains.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 30px 0;
}

.banner_field {
    background: linear-gradient( rgba(0, 0, 0, 0.459), rgba(0, 0, 0, 0.342) ), url(/img/field.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 80px 0;
}


.banner_code {
    background: linear-gradient( rgba(0, 0, 0, 0.534), rgba(0, 0, 0, 0.445) ), url(/img/code.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 80px 0;
}

.name_header, .title {
    color: white;
}

.bio {
    padding: 0 6%;
    margin-bottom: 30px;
    text-align: center;
}

.bio, .project_description {
    font-size: 18px;
}

.profile_picture_div {
    width: 180px;
    height: 180px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 50%;
    margin-bottom: 5px;
}

.subsection_header {
    margin: 30px 0;
    font-size: 30px;
}

.about_header {
    margin-top: 50px;
}

.portfolio_projects_header {
    margin: 45px 0 15px 0;
}

.project_section {
    display: flex;
    flex-direction: column;
    padding: 3%;
    align-items: center;
    margin-bottom: 25px;
    width: 90%;
    border-radius: 5px;
    border: 2px rgb(99, 99, 99) solid;
    background-color: white;
}

.project_name {
    font-size: 24px;
}

.project_description {
    text-align: center;
    margin-bottom: 10px;
    max-width: 80%;
    word-wrap: break-word;
}

.project_image {
    width: 250px;
    margin: 12px auto;
}

.built_with_header {
    margin-bottom: 0;
    font-size: 20px;
}

.skills_list {
    list-style: none;
    padding-left: 0;
    display: flex;
    width: 90%;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 1px solid rgb(114, 114, 114);
    border-radius: 3px;
    padding: 10px;
    background-color: rgb(252, 252, 252);
}

.project_skill {
    width: 90px;
    margin: 10px;
    border: solid rgb(59, 59, 59) 1px;
    background-color: rgb(114, 114, 114);
    padding: 6px;
    color: white;
    border-radius: 3px;
    text-align: center;
}

.project_button {
    width: 140px;
    margin: 10px;
    padding: 5px;
    border: none;
    border-radius: 2px;
}

.project_button_black {
    background-color: rgb(36, 36, 36);
}

.project_button_red {
    background-color: rgb(160, 32, 32);
}

.project_button_blue {
    background-color: rgb(41, 103, 145);
}

.project_button_green {
    background-color: rgb(34, 100, 34);
}

.project_button:hover {
    background-color: rgb(54, 54, 54);
}

.project_link {
    margin: 5px 0;
    color: black;
    font-size: 18px;
    text-decoration: none;
    color: white;
}

.project_button_section {
    margin: 20px 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

hr {
    width: 1px;
    color: black;
}

@media screen and (min-width: 700px) { 
    .bio, .project_section {
        max-width: 1000px;
    }

    .profile_picture_div {
        margin-bottom: 10px;
    }

    .project_skill {
        margin: 20px;
    }

    .project_button_section {
        padding: 0 10%;
    }

    .project_image {
        width: 350px;
    }

    .project_button {
        width: 200px;
        padding: 8px;
    }
    
    .project_link {
        font-size: 20px;
    }
}

