.RegistrationPage {
    padding-bottom: 50px;
    text-align: center;
}

.RegistrationForm {
    max-width: 600px;
    margin: 15px auto;
}

.password_instructions {
    margin: 15px 0;
}

.registration_button {
    margin-top: 26px;
}