.LoginPage {
    padding-bottom: 50px;
    text-align: center;
}

.LoginForm {
    max-width: 600px;
    margin: 15px auto;
}

.demo_header {
    margin: 0;
  }

.demo_creds {
    margin: 15px 0;
}

.red {
    color: #CA1551;
}

.login_button {
    margin-top: 26px;
}