.dashboard_section {
    text-align: center;
    padding: 5% 6%;
    background-color: rgb(247,247,247);
    padding-bottom: 80px;
    font-size: 18px;
}

.dashboard_form {
    display: flex;
    flex-direction: column;
}

input, textarea, select  {
    font-family: Arial;
    font-size: 18px;
    padding: 12px;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
}

label {
    margin-bottom: 8px;
    font-size: 18px;
    text-align: start;
    padding-left: 3px;
    font-size: 18px;
}

.theme_label {
    text-align: center;
}

.dashboard_input {
    margin-bottom: 20px;
}

#bio {
    height: 140px;
}

.button_link {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.success_message {
    margin: 10px 0;
    font-weight: bold;
}

.about_me_header, .theme_header {
    margin-top: 10px;
}

.theme_select {
    margin: 0 auto 20px auto; 
    width: 80%
}


.projects_header {
    margin-bottom: 5px;
}

.projects_list {
    list-style: none;
    padding: 0;
}

.dashboard_project {
    margin: 15px 0;
}

.dashboard_project_name {
    text-decoration: none;
    color: black;
    font-size: 24px;
    padding: 15px;
}

.dashboard_project_name:hover {
    text-decoration: underline;
}


[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

[type=radio] + img {
    cursor: pointer;
    width: 300px;
    height: 130px;
    margin-top: 5px;
}

[type=radio]:checked + img {
    box-shadow: 0 0 3pt 2pt red;
}

[type=radio]:not(:checked) + img {
    filter: brightness(35%)
}

hr {
    margin: 30px auto;
    border: 0;
    clear: both;
    display: block;
    width: 96%;               
    background-color:rgb(158, 158, 158);
    height: 2px;
  }