.dashboard_section {
    text-align: center;
    padding: 5% 6%;
    background-color: rgb(218, 218, 218);
    padding-bottom: 60px;
    font-size: 18px;
}

.dashboard_form {
    display: flex;
    flex-direction: column;
}

input, textarea, select  {
    font-family: Arial;
    font-size: 18px;
    padding: 4px;
    border: 1px solid black;
    border-radius: 2px;
}

label {
    margin-bottom: 8px;
    font-size: 18px;
}

.dashboard_input {
    margin-bottom: 20px;
}

#bio {
    height: 140px;
}

.dashboard_button {
    margin: 10px auto;
    width: 200px;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
    background-color: rgb(63, 63, 63);
    color: white;
    border: none;
    border-radius: 2px;
}

.button_link {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.success_message {
    margin: 10px 0;
    font-weight: bold;
}

.theme_select {
    margin: 0 auto 20px auto; 
    width: 80%
}

.projects_list {
    list-style: none;
    padding: 0;
}

.dashboard_project {
    margin: 10px 0;
}

.dashboard_project_name {
    color: black;
}

[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

[type=radio] + img {
    cursor: pointer;
    width: 300px;
    height: 130px
}

[type=radio]:checked + img {
    outline: 3px solid red;
}

[type=radio]:not(:checked) + img {
    filter: brightness(35%)
}