.dashboard_section {
    text-align: center;
    padding: 5% 6%;
    background-color: #bbb;
}

.dashboard_form {
    display: flex;
    flex-direction: column;
}

.dashboard_input {
    margin-bottom: 20px;
}

#bio {
    height: 140px;
}

.dashboard_button {
    margin: 10px auto;
    width: 200px;
}

.success_message {
    margin: 10px 0;
    font-weight: bold;
}

.projects_list {
    list-style: none;
    padding: 0;
}

.dashboard_project {
    margin: 10px 0;
}