* {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Lato', sans-serif;
}

button {
  background-color: #294F58;
  margin: 10px auto;
  width: 250px;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: #48B68D;
}

button:disabled {
  background-color: rgba(233, 233, 233, 0.705);
  color: rgba(163, 163, 163, 0.76);
  cursor: not-allowed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
